<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Profile</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
 
  table, h4, li, a{
    margin: auto;
    width:90%;
  }
  ul{
    list-style-type: none;
  }
  h4{
    text-decoration: underline;
  }
  td{
    text-align: left;
    padding-top: 10px;
  }
</style>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">
	
</div>

<!--end of Navigation bar-->


<h2>User Profile</h2>


<table>
            <tr>
              <td >First Name:</td>
              <td id="firstname"></td>
              <td><button type="button" class="btn btn-primary" ng-click="">Edit</button></td>
            </tr>

            <tr>
              <td >Last Name:</td>
              <td>NAME HERE</td>
              <td><button type="button" class="btn btn-primary" ng-click="">Edit</button></td>
            </tr>

            <tr>
              <td >Email:</td>
              <td>NAME HERE</td>
              <td><button type="button" class="btn btn-primary" ng-click="">Edit</button></td>
            </tr>

            <tr>
              <td >Username:</td>
              <td>NAME HERE</td>
              <td></td>
            </tr>

           

</table>

<br><br><br>

<h4>Previous Purchases</h4>

<ul>
  <li>Purchase 1</li>
  <li>Purchase 2</li>
</ul>

<a><button type="button" class="btn btn-danger" ng-click="">Log Out</button>


<script>

$(function(){
  $("#nav-placeholder").load("header.html");
});

</script>

</body>
</html>
